load("@aspect_rules_lint//format:defs.bzl", "format_multirun", "format_test")

package(default_visibility = ["//visibility:public"])

format_multirun(
    name = "format",
{%- if 'go' in languages %}
    go = "@aspect_rules_lint//format:gofumpt",
{%- endif %}
{%- if 'proto' in languages %}
    protocol_buffer = "//tools/lint:buf",
{%- endif %}
{%- if 'python' in languages %}
    python = "@aspect_rules_lint//format:ruff",
{%- endif %}
    starlark = "@buildifier_prebuilt//:buildifier",
)

format_test(
    name = "format_test",
    size = "small",
    timeout = "short",
{%- if 'go' in languages %}
    go = "@aspect_rules_lint//format:gofumpt",
{%- endif %}
    no_sandbox = True,
{%- if 'proto' in languages %}
    protocol_buffer = "//tools/lint:buf",
{%- endif %}
{%- if 'python' in languages %}
    python = "@aspect_rules_lint//format:ruff",
{%- endif %}
    starlark = "@buildifier_prebuilt//:buildifier",
    workspace = "//:MODULE.bazel",
)
